.vblog {
    margin: 0px 5vw;
    padding: 10px 0;
    background: linear-gradient(90deg,transparent ,#808080,transparent) left top / 100% 2px no-repeat,linear-gradient(90deg,transparent ,#808080,transparent) left bottom / 100% 2px no-repeat;
}

.vblog .header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.vblog .head {
    position: relative;
    display: block;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.vblog .head img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.vblog .header .header-content {
    margin-left: 1rem;
    padding-left: 0.5rem;
}

.vblog .header .nick {
    font-size: 2rem;
    font-weight: bold;
    margin-left: -0.5rem;
    color: #000;
}

.vblog .header div {
    font-size: 1rem;
    color: #606060;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vblog .main {
    margin: 0 1rem;
}

.vblog .main .message {
    font-size: 1.5rem;
}

.vblog .main .image img {
    width: 15rem;
    border-radius: 1rem;
    height: auto;
}