:root {
    --globel-background-color: hsl(0, 0%, 17.6%);
    --background-color-lighter-1: hsl(0, 0%, 40%);
    --background-color-darker-1: hsl(0, 0%, 10%);
    --block-color: #f2f2d2;
    --glow-width: 12px;
    --glow-color: rgb(255, 220, 100);
}

html {
    font-size: 20pt;
    overflow: hidden;
    touch-action: manipulation;
}

body {
    background: var(--globel-background-color);
    padding: 2vh 2vw;
}

#app {
    display: flex;
    flex-direction: row;
}

#banlist {
    width: min-content;
    max-height: 95vh;
    overflow: auto;

}

#banlist::-webkit-scrollbar {
    --width: 12px;
    width: calc(var(--width) + 2 * var(--glow-width));
    background: linear-gradient(var(--background-color-lighter-1) 0 0) center center / calc(100% - 2 * var(--glow-width)) calc(100% - 2 * var(--glow-width)) no-repeat;
}

#banlist::-webkit-scrollbar-thumb {
    --shadow-color: rgba(255, 220, 100, 0.5);
    background: linear-gradient(var(--block-color) 0 0) center center / calc(100% - var(--glow-width) * 2) calc(100% - var(--glow-width) * 2) no-repeat, linear-gradient(0deg, var(--shadow-color), transparent) center top / calc(100% - var(--glow-width) * 2) var(--glow-width) no-repeat, linear-gradient(180deg, var(--shadow-color), transparent) center bottom / calc(100% - var(--glow-width) * 2) var(--glow-width) no-repeat, linear-gradient(270deg, var(--shadow-color), transparent) left center / var(--glow-width) calc(100% - var(--glow-width) * 2) no-repeat, linear-gradient(90deg, var(--shadow-color), transparent) right center / var(--glow-width) calc(100% - var(--glow-width) * 2) no-repeat, radial-gradient(farthest-side circle at 100% 100%, var(--shadow-color), transparent) left top / var(--glow-width) var(--glow-width) no-repeat, radial-gradient(farthest-side circle at 100% 0, var(--shadow-color), transparent) left bottom / var(--glow-width) var(--glow-width) no-repeat, radial-gradient(farthest-side circle at 0 100%, var(--shadow-color), transparent) right top / var(--glow-width) var(--glow-width) no-repeat, radial-gradient(farthest-side circle at 0 0, var(--shadow-color), transparent) right bottom / var(--glow-width) var(--glow-width) no-repeat;
}

#banlist>div>button {
    color: var(--block-color) !important;
    background: transparent !important;
    box-shadow: none !important;
    border: var(--block-color) 0.1rem solid;
    border-radius: 0.1rem;
    margin-left: 0.1rem;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

#banlist>div>button .v-btn__overlay {
    display: none;
}

#banlist>div>button .v-btn__underlay {
    display: none;
}

#banlist .balls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#banlist .ball {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    min-width: unset;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

#banlist .ball:not([available="true"]) {
    filter: grayscale(100%);
}

#banlist .ball .v-btn__content {
    display: block;
}

.time_avg {
    color: green;
}

.time_avg::before {
    content: " ";
}

.ball-icon {
    width: 100%;
    height: 100%;
}

.v-overlay__content:not([style*="transform-origin: right bottom"]) {
    background: hsl(0, 0%, 40%, 0.4) !important;
    backdrop-filter: blur(4px);
    color: var(--block-color);
    filter: drop-shadow(10px 10px 5px #000);
}

#playground {
    flex-grow: 2;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    position: relative
}

#ballplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}

#ballplay .ball-container {
    width: 66px;
    height: 66px;
    position: relative;
    margin: 5px;
    transition: 0.1s ease-in-out;
}

#ballplay .ball-container[playing="true"] {
    margin: 5px 22px;
}

#ballplay .ball-container .timer {
    font-size: 0.7rem;
    color: var(--block-color);
    text-shadow: 0 0 var(--glow-width) var(--glow-color);
    text-align: center;
    position: absolute;
    top: -1rem;
    width: 100%;
}

#ballplay .ball-container .ball-icon {
    transition: 0.1s ease-in-out;
    position: relative;
    overflow: visible;
}

#ballplay .ball-container[playing="true"] .ball-icon {
    padding: 5px;
    transform: scale(1.5);
}

#ballplay .ball-container[playing="true"] .ball-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    border: var(--block-color) 2px solid;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

#ballplay .ball-container[playing="true"] .ball-icon img {
    position: relative;
}

#playingball {
    text-align: center;
    color: var(--background-color-darker-1);
    background: var(--block-color);
    box-shadow: 0 0 var(--glow-width) var(--glow-color), 0 0 var(--glow-width) var(--glow-color);

    width: fit-content;
    min-width: calc(100% - 10rem);
    padding: 0 1rem;
    margin: 1rem auto;
    border-radius: 3px;
}

.commandsplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.commandsplay span[command] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0.15rem;
    font-size: 0.5rem;
    text-align: center;
    color: transparent;
    position: relative;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.commandsplay span[command]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M 2 8 L 6 8 L 6 5.33 L 8 5.33 L 4 0 L 0 5.33 L 2 5.33 Z' fill='%23f2f2d2'/%3E%3C/svg%3E") left top / 100% 100%;
    filter: grayscale(1);
    z-index: 1;
}

.commandsplay span[command][finished="true"]::before {
    filter: drop-shadow(0 0 6px var(--glow-color));
}

.commandsplay span[command="r"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M 0 2 L 0 6 L 2.67 6 L 2.67 8 L 8 4 L 2.67 0 L 2.67 2 Z' fill='%23f2f2d2'/%3E%3C/svg%3E");
}

.commandsplay span[command="d"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M 6 -0 L 2 0 L 2 2.67 L 0 2.67 L 4 8 L 8 2.67 L 6 2.67 Z' fill='%23f2f2d2'/%3E%3C/svg%3E");
}

.commandsplay span[command="l"]::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath d='M 8 6 L 8 2 L 5.33 2 L 5.33 -0 L 0 4 L 5.33 8 L 5.33 6 Z' fill='%23f2f2d2'/%3E%3C/svg%3E");
}

.commandsplay span[command=""]::before {
    background-image: none;
}

#kps {
    font-size: 0.7rem;
    color: var(--block-color);
    text-shadow: 0 0 var(--glow-width) var(--glow-color);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

#simpad {
    position: fixed;
    right: 5vw;
    bottom: 5vh;

    display: grid;
    grid-template:
        "a a"
        "b c" / auto 1fr;
}

#simpad .option {
    grid-area: a;
    margin-bottom: 1rem;
    margin-right: 0.15rem;
    display: flex;
    justify-content: right;
}

#simpad .option button {
    background: transparent !important;
    box-shadow: none !important;
    border: var(--block-color) 0.1rem solid;
    border-radius: 0.1rem;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

#simpad .option button .v-btn__overlay {
    display: none;
}

#simpad .option button .v-btn__underlay {
    display: none;
}

#simpad .option[display="false"] .container {
    display: none;
}

#simpad .option .switch-opa {
    width: 1rem;
    height: 1rem;
}

#config-container {
    width: fit-content;
    display: grid;
    grid-template:
        "a b c"
        "d e f" / 1fr 1fr 1fr;
    gap: 0.5rem;
    position: relative;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

#config-container * {
    background: transparent;
    color: var(--block-color);
}

#config-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: var(--block-color) 0.2rem solid;
    z-index: -1;
}

#config-container .v-input__details {
    display: none;
}

#config-container .v-field__input {
    width: 3rem;
}

#simpad .start-key {
    grid-area: b;
    margin-right: 1rem;
    display: grid;
    align-items: end;
}

#simpad .start-key span {
    color: var(--block-color);
    font-size: 1rem;
    line-height: 2.6rem;
    filter: drop-shadow(0 0 var(--glow-width) var(--glow-color));
}

#simpad .start-key span::before {
    background-image: none;
}

#simpad .key-play {
    grid-area: c;
    display: grid;
    grid-template:
        "a b c"
        "d e f";
}

#simpad span[command]:not([command=""]) {
    width: 3rem;
    height: 3rem;
    --border-width: 0.2rem;
    border: var(--block-color) var(--border-width) solid;
    border-radius: var(--border-width);
    filter: drop-shadow(0 0 var(--glow-width) var(--glow-color));
}

#simpad span[command]:active {
    filter: brightness(50%);
}

#simpad span[command=""] {
    visibility: hidden;
}

#simpad span[command]:not([command=""])::before {
    left: var(--border-width);
    top: var(--border-width);
    width: calc(100% - 2 * var(--border-width));
    height: calc(100% - 2 * var(--border-width));
    filter: none;
}